*{
    font-family: 'Open Sans', sans-serif;
}
.font-weight-400{
    font-weight: 400;
    font-size: 11px;
}
.width-row{
    width: 100%;
}
.width-col{
    width: 10%;
}
.height{
    height: 30px;
}
.size{
    font-size: 14px;
}